<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
</head>
<body>
    <h1>Membership Details</h1>
    <ul>
        {% for member in members %}
            <li>
                <strong>{{ member.name }}</strong><br>
                Membership Type: {{ member.membership_type }}<br>
                Expiry Date: {{ member.expires }}<br><br>
            </li>
        {% endfor %}
    </ul>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </nav>
</body>
</html>
